{% extends "base/base.html" %}
{% block title %}Marked as completed{% endblock title %}
{% block content %}
<div class="mt-4 mb-4 rounded container">
    {% for lists in Lists %}
    {% if lists.mark_as_completed == True %}
    <div class="d-flex justify-content-between align-items-center mb-2 bg-light p-2 w-75 m-auto rounded"
        data-id="{{lists.id}}">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <img src="/media/{{lists.image_a}}" alt="image" class="rounded-circle" height="60px" width="60px"
                    style="object-fit: cover;">
            </div>
            <div class="details ms-3">
                <h6 style="margin-bottom: 5px !important;">{{lists.title}}</h6>
                <p style="margin-bottom: 0px !important;">{{lists.description}}</p>
            </div>
        </div>
        <div class="menu">
            <div class="dropdown">
                <button style="background-color: white; border-radius: 50px; border: none;" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                        class="bi bi-three-dots-vertical" viewBox="0 0 16 16">
                        <path
                            d="M9.5 13a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0m0-5a1.5 1.5 0 1 1-3 0 1.5 1.5 0 0 1 3 0" />
                    </svg>
                </button>

                <ul class="dropdown-menu">
                    <li id="update-item"><!-- HTML for the modal trigger -->
                        <a class="dropdown-item" href="#" data-bs-toggle="modal" data-bs-target="#detaillist">
                            <span class="me-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-book" viewBox="0 0 16 16">
                                    <path d="M1 2.828c.885-.37 2.154-.769 3.388-.893 1.33-.134 2.458.063 3.112.752v9.746c-.935-.53-2.12-.603-3.213-.493-1.18.12-2.37.461-3.287.811zm7.5-.141c.654-.689 1.782-.886 3.112-.752 1.234.124 2.503.523 3.388.893v9.923c-.918-.35-2.107-.692-3.287-.81-1.094-.111-2.278-.039-3.213.492zM8 1.783C7.015.936 5.587.81 4.287.94c-1.514.153-3.042.672-3.994 1.105A.5.5 0 0 0 0 2.5v11a.5.5 0 0 0 .707.455c.882-.4 2.303-.881 3.68-1.02 1.409-.142 2.59.087 3.223.877a.5.5 0 0 0 .78 0c.633-.79 1.814-1.019 3.222-.877 1.378.139 2.8.62 3.681 1.02A.5.5 0 0 0 16 13.5v-11a.5.5 0 0 0-.293-.455c-.952-.433-2.48-.952-3.994-1.105C10.413.809 8.985.936 8 1.783"/>
                                  </svg>
                            </span>
                            Detail
                        </a>
                    </li>
                    <li>
                        <a class="dropdown-item" href="/core/public/lists/del/{{lists.id}}/">
                            <span class="me-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="red"
                                    class="bi bi-trash-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M2.5 1a1 1 0 0 0-1 1v1a1 1 0 0 0 1 1H3v9a2 2 0 0 0 2 2h6a2 2 0 0 0 2-2V4h.5a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1H10a1 1 0 0 0-1-1H7a1 1 0 0 0-1 1zm3 4a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 .5-.5M8 5a.5.5 0 0 1 .5.5v7a.5.5 0 0 1-1 0v-7A.5.5 0 0 1 8 5m3 .5v7a.5.5 0 0 1-1 0v-7a.5.5 0 0 1 1 0" />
                                </svg>
                            </span>
                            Delete
                        </a>
                    </li>

                    <li>
                        <a class="dropdown-item" href="/core/public/lists/unmark/{{lists.id}}/">
                            <span class="me-2">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-flag-fill" viewBox="0 0 16 16">
                                    <path
                                        d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12 12 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A20 20 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a20 20 0 0 0 1.349-.476l.019-.007.004-.002h.001" />
                                </svg>
                            </span>
                            Unmarked List</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
{% include "core/models.html" %}
{% endblock content %}

{% block js %}
document.addEventListener('click', function (event) {
if (event.target.closest('.dropdown-item')) {
const listItem = event.target.closest('.d-flex[data-id]');

if (listItem) {
const listId = listItem.getAttribute('data-id');

fetch(`/core/public/lists/detail/${listId}/`)
.then(response => {
if (!response.ok) {
throw new Error('Network response was not ok');
}
return response.json();
})
.then(data => {
console.log(data);
detailpupolate(data);
})
.catch(error => {
console.error('There was a problem with the fetch operation:', error);
});
}
}
});
function detailpupolate(data) {
const modalBody = document.getElementById('detaillistmodel'); // Corrected ID
modalBody.innerHTML = `
<h1>${data.title}</h1>
<hr>
<div class="row mb-3">
    <div class="col-lg 6 col-sm-12 text-center">
        <img src="${data.image_a}" alt="Image A " height="250" width="250" style="object-fit: cover;">
    </div>
    <div class="col-lg 6 col-sm-12 text-center">
        <img src="${data.image_b}" alt="Image B" height="250" width="250" style="object-fit: cover;">
    </div>

</div>
<p><b> Description:</b> ${data.description}</p>

<!-- Include other properties as needed -->
<p><b> Mark as Completed:</b> ${data.mark_as_completed ? 'Yes' : 'No'}</p>
`;
}

{% endblock js %}